nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* font for navbar elements */
nav .navbar-brand .header
{
    font-family: "Balsamiq Sans";
}

nav .navbar-nav
{
    font-family: "Balsamiq Sans";
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
